<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <% if (user) { %>
    <div style="
    display: flex;
    flex-direction: column;
    align-items: center;">
      <div style="
    display: flex;
    flex-direction: column;
    align-items: center">
        <h1>Welcome <%= user.name %>
        </h1>
        <h5>Pleas select your team</h5>
      </div>
      <form action="/users/profile/<%= user.id %> " method="post">
        <select class="form-select" aria-label="Default select example" name="subscriptions" id="subscriptions">
          <option selected>team</option>
          <option name="subscriptions" value="PM">PM</option>
          <option name="subscriptions" value="development">development</option>
          <option name="subscriptions" value="management">management</option>
        </select>
        <button type="submit" class="btn btn-primary" id="boton">Submit</button>
      </form>
    </div>
    <% } %>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
</body>
</html>